* {
  box-sizing: border-box;
  margin: 0px;
  padding: 0px;
  font-family: Merriweather !important;
}

.logo-container {
  padding: 20px;
  background-color: white;
  border-radius: 50%;
  width: fit-content;
}

.logo-container > a {
  width: fit-content;
}

.logo {
  width: 100px;
}

a {
  display: block;
  text-decoration: none;
  color: #fff;
  font-size: 18px;
  font-family: Inter;
  font-weight: 550;
}

.side-menu a {
  padding: 10px;
  display: block;
  text-decoration: none;
  text-align: left;
  color: #fff;
  font-size: 16px;
  font-family: Inter;
  font-weight: 600;
}
.side-menu > a:hover {
  cursor: pointer;
  text-decoration: underline;
  text-decoration-thickness: 5px;
}

nav {
  padding: 20px;
  display: flex;
  flex-direction: column;
  color: #fff;
  /* background: #168864ed; */
  background: #1a6f6c;

}

nav > .nav-items {
  display: flex;
  justify-content: space-between;
}

.nav-links {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-end;
  color: #fff;
  font-weight: bold;
}

.nav-links > a {
  display: flex;
  flex-direction: row;
  align-items: center;
  column-gap: 8px;
  font-size: larger;
  font-weight: bold;
  row-gap: 5px;
}

.nav-links > a > i {
  transform: translateY(-6%);
}

.nav-links > a:hover {
  cursor: pointer;
  text-decoration: underline;
  text-decoration-thickness: 5px;
}

.items {
  background: #817f7f;
}

.bb {
  background: #1a6f6c;
}

.login-dialogue {
  width: 100vw;
  height: 100vh;
  color: rgb(24, 23, 23);
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-image: url(https://images.unsplash.com/photo-1522204523234-8729aa6e3d5f?q=80&w=2070&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.form-dialogue {
  background: #fff;
  border: solid thin grey;
  padding: 20px;
  border-radius: 20px;
  margin-top: 50px;
  width: 350px;
  padding-bottom: 20px;
}

.form-dialogue > form > .form-item {
  display: flex;
  flex-direction: column;
  row-gap: 10px;
}

.form-dialogue > form > .form-item > label {
  color: #247254e8;
  width: 100%;
  text-align: left;
}

.form-dialogue > form > .form-item > input {
  border: solid thin grey;
  border-radius: 8px;
  background: #918f8f70;
}

.form-dialogue > form {
  display: flex;
  flex-direction: column;
  gap: 10px;
  justify-content: center;
  row-gap: 30px;
}

form {
  display: flex;
  flex-direction: column;
  gap: 10px;
  justify-content: center;
}

form > .login-btn {
  font-weight: 550;
  color: #ffffff;
  padding: 10px;
  height: auto;
  border: none;
  border-radius: 8px;
  background: #1a6f6c;
  cursor: pointer;
  font-weight: bold;
}

form > .signup-btn {
  font-weight: 400;
  color: #1830b9;
  padding: 5px;
  border-radius: 8px;
  cursor: pointer;
  font-size: 14px;
}

form > .signup-btn:hover{
  color: #3b18b9;
  text-decoration: underline;
}

.search-container {
  padding-top: 4vh;
  width: 40%;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: auto;
  min-width: 200px;
}

.search-bar {
  background-color: #fff;
  border-radius: 8px;
  padding: 0 15px 0 0;
  width: 100%;
  height: 2.5rem;
  display: flex;
  align-items: center;
  box-shadow: 0px 0px 2.4rem #29292934;
}

.search-input {
  background-color: transparent;
  border: none;
  width: 100%;
  height: 100%;
  display: flex;
  font-size: medium;
  padding-left: 15px;
}

.search-input:focus {
  outline: none;
}

.search-results {
  width: 38%;
  margin-top: 8vh;
  min-width: 200px;
  background-color: #cfcfcf;
  box-shadow: 0px 0px 2.4rem #29292934;
  position: absolute;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 4px;
  max-height: 200px;
  overflow-y: scroll;
  cursor: pointer;
}

.search-details {
  color: #292828;
  padding: 10px 15px;
  width: 100%;
  background-color: #fff;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.search-results img {
  margin: 0 20px 0 5px;
  height: 30px;
  width: auto;
}

.search-details:hover {
  background-color: #c2c1c1;
}

input {
  border: none;
  outline: none;
  text-align: left;
  border-radius: 3px;
  padding: 8px;
  width: 100%;
}

label {
  text-align: right;
  color: white;
  font-weight: 600;
  font-size: larger;
  flex-shrink: 0;
}

.account-profile {
  width: 100%;
  display: flex;
  flex-direction: column;
}

.profile-header {
  background: #1a6f6c;
  height: 180px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  padding: 10px 35px;
}

.profile-box {
  display: flex;
  flex-direction: column;
  width: 100%;
  text-align: right;
}

.profile-box > .checkout {
  color: white;
}

.user-details {
  display: flex;
  flex-direction: column;
  width: 100%;
  color: white;
}

.profile-box span {
  width: 100%;
  padding: 5px 5px;
  font-size: large;
  font-weight: bold;
}

.account-container {
  display: flex;
  flex-direction: row;
  padding: 30px 0 30px 30px;
  column-gap: 20px;
}

.ac-menu {
  padding: 25px;
  width: 25vw;
  height: 400px;
  border-top-right-radius: 6px;
  border-bottom-right-radius: 6px;
  display: flex;
  flex-direction: column;
  background: #1a6f6c;
  row-gap: 20px;
}

.ac-menu > a {
  font-weight: bold;
}

.ac-menu > a:hover {
  cursor: pointer;
  text-decoration: underline;
  text-decoration-thickness: 5px;
}

.ac-content {
  width: 75vw;
  display: flex;
  justify-content: center;
}

.dynamic-menu {
  background: #1a6f6c;
  margin-left: 0;
  width: 80%;
  height: auto;
  color: rgb(10, 10, 10);
  border-radius: 6px;
  padding: 15px;
}

.generic-h4 {
  color: white;
  font-size: xx-large;
  padding: 2px;
  border: none;
  margin-bottom: 20px;
  background: none;
}

.checkout{
  color: white;
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  padding: 20px;
}

.order {
  /* background: #817f7f; */
  border: #292828;
  /* display: flex; */
}

.orderdetails {
  display: flex;
  flex-direction: column;
}

.settings-dialogue {
  display: flex;
  flex-direction: column;
  padding: 2vh;
  width: 100%;
  min-height: 30%;
}

.profile-grid {
  display: grid;
  width: 200px;
  grid-template-columns: repeat(2, 1fr);
  gap: 20px;
}

.profile-grid > div,
.settings-dialogue > form > div.password {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  row-gap: 10px;
  width: 200px;
}

.save-btn {
  width: 200px;
  padding: 5px;
  color: #0a0a0a;
  background: #ffffff;
  border-radius: 4px;
  font-size: 14px;
  font-weight: bold;
  height: 33px;
  margin-top: 8px;
}

.order-details{
  display: flex;
  flex-direction: column;
  padding: 15px;
}
.order-summary{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 10px;
}

.orders-list{
  background-color: #fff;
  margin: 15px;
  box-shadow: 0px 0px 2.4rem #29292934;
  align-items: center;
  border-radius: 4px;
  max-height: 400px;
  overflow-y: scroll;
  cursor: pointer;
}
.item-list{
  color: #1d1c1c;
  display: flex;
  flex-direction: row;
  padding: 15px;
  align-items: baseline;
  font-size: 18px;
  background: #1a6f6c5d;
}

.item-list > img{
  width: 5%;
  height: auto;
  margin: 0px 15px;
}

.featured {
  margin-top: 2%;
  display: flex;
  justify-content: center;
  flex-direction: row;
  padding: 6vh;
}
.featured h4{
  color: #0a0a0a;
}

.featured-products{
  padding: 6vh;
  margin: auto;
  display: flex;
  flex-direction: column;
  width: 80%;
  align-items: center;
  height: 70vh;
  border: #292828;
  border-radius: 5px;
  box-shadow: 0px 0px 2.4rem #29292934;
}

.feature{
  display: flex;
  flex-direction: column;
  text-wrap: wrap;
  font-size: small;
}

.feature img{
  width: 150px;
  height: auto;
}